.panelka__entrails {
    width: 130px;
    position: fixed;
    z-index: 1;
    background: #ff6b;
    top: 20px;
    left: 10px;
    overflow-x: hidden;
    padding: 8px 0;
    margin-top: 10%;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
}
